html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 3rem;
    /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-top: -4rem;
    /* negative value of footer height */
    height: 3rem;
    clear: both;
    padding-top: 1rem;
}

.brand-logo {
    max-height: 3rem;
}

.brand-name {
    font-variant: small-caps;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 1.75rem;
}

.brand-subtitle {
    font-size: 1rem;
    font-weight: 300;
}

.brand-underline {
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 0, 0);
}

.brand-topline {
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: rgb(192, 0, 0);
}