.blog-entry-wrapper {
  display: block;
  .blog-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex: 1 1 auto;

    .blog-entry-content {
      margin-right: 1rem;
      width: 100%;
      min-width: 0;
      display: block;
    }

    .blog-entry-image {
      & > img {
        object-fit: cover;
        width: 266px;
        height: 133px;
      }
    }
    .blog-entry-footer {
    }
  }
}
