.post-preview-image {
  object-fit: cover;
  width: 200px;
  min-width: 200px;
  height: 133px;
  @include mobile {
    min-width: 172px;
    width: 172px;
    height: 129px;
  }
  @include phone {
    min-width: 100px;
    width: 100px;
    height: 100px;
  }
}

.post-preview {
  max-width: 680px;
}

.nuxt-content {
  @extend .is-family-secondary;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .is-family-serif;
  }
  p {
    @extend .is-size-5;
    @extend .is-size-6-mobile;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
