.h-content {
  height: fit-content;
}

.w-content {
  width: fit-content;
}

.max-w-content {
  max-width: 800px;
}

.white-background {
  background-color: white !important;
}

.z-minus-5 {
  z-index: -5;
}
