.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.t-align-right {
  text-align: right !important;
}

.overflow-visible {
  overflow: visible !important;
}
