html {
  overflow-y: overlay;
}

body {
  height: 100vh;
  margin: 0;
}
#__nuxt {
  height: 100%;
}
#__layout {
  height: 100%;
}

@media (min-width: 1280px) {
  .main-body::before {
    background: radial-gradient(circle at center, black 20%, transparent 20%),
      transparent;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 8rem;
    width: 8rem;
    position: absolute;
    transform: translate(-4rem, -4rem);
    z-index: -1;
  }
  .main-body {
    background-color: white;
    margin-left: -2rem;
    padding-left: 2rem;
    margin-top: -2rem;
    padding-top: 2rem;
  }
}
