html {
  overflow-y: auto;
}

body {
  height: 100vh;
  margin: 0;
}
#__nuxt {
  height: 100%;
}
#__layout {
  height: 100%;
}

.main-container,
.footer-container,
.header-container {
  @include until($mobile) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @include from($mobile) {
    @include until($desktop) {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
.main-container {
  margin-bottom: 6rem;
}

.header-container {
  margin-bottom: 8rem;
  margin-top: 2rem;
}
.header-gradient {
  height: 4px;
  width: 100%;
  background: $hero-gradient;
}

.active-route {
  background: $hero-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-button {
  border-radius: 20px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 1px;
  padding: 0 8px 0 8px !important;
  line-height: 1rem;
}

$desktop-wide: $desktop + (2 * $gap);
@include from($desktop-wide) {
  .main-body::before {
    background: radial-gradient(circle at center, $primary 25%, transparent 25%),
      transparent;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 8rem;
    width: 8rem;
    position: absolute;
    transform: translate(-4rem, -4rem);
    z-index: -1;
  }
  .main-body {
    background-color: $white;
    margin-left: -2rem;
    padding-left: 2rem;
    margin-top: -2rem;
    padding-top: 2rem;
  }
}
