@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900");

$cornflower-blue: #8490ff;
$baby-blue-eyes: #abd5ff;
$azure: #007fff;
$sea-green-crayola: #1affd5;
$capri: #48beff;
$maya-blue: #62bdfc;
$cornflower-blue-dark: #04091e;