$cornflower-blue: #8490ff;
$baby-blue-eyes: #abd5ff;
$azure: #007fff;
$sea-green-crayola: #1affd5;
$capri: #48beff;
$maya-blue: #62bdfc;
$cornflower-blue-dark: #04091e;

$bg-gray-800: rgba(31, 41, 55, 1);
$bg-gray-300: rgba(209, 213, 219, 1);
